.heart {
  width: 150px;
  height: 150px;
  color: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scale-up-center {
  animation: scale-up-center 0.3s;
}
.invisible {
    visibility: hidden;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
